<section class="section" id="about-game">
  <div class="container about-container">
    <div class="about-title-box">
      <picture class="about-img">
        <!-- Desktop -->
        <source
          media="(min-width: 1200px)"
          srcset="/img/about/desk-bird-min.webp"
        />
        <!-- Mobile -->
        <source
          media="(max-width: 1199px)"
          src="/img/about/mob-bird-min.webp"
        />
        <img
          srcset="/img/about/mob-bird-min.webp"
          loading="lazy"
          decoding="async"
          alt="bird img"
          width="60"
          height="60"
        />
      </picture>
      <h2 class="about-title">About the Game</h2>
    </div>
    <div class="about-text-box">
      <p>
         Match It is an educational mobile app built to encourage early
        development skills in young learners. By matching objects, letters,
        shapes, and animals, children begin forming associations between visuals
        and words. With each correct match, they gain confidence and cognitive
        agility. Through gamified repetition and bright illustrations, kids stay
        engaged while learning vital concepts without even realizing it.
      </p>
      <img
        class="about-circle img-circle-anim"
        src="/img/circles.webp"
        loading="lazy"
        decoding="async"
        width="110"
        height="110"
      />
    </div>
  </div>
</section>
