<section class="section" id="contacts">
  <div class="container">
    <h2 class="title-contact">Contact us</h2>
    <p class="text-contact">Have questions, feedback, or partnership inquiries?</p>

    <ul class="contact-info">
           <li><svg class="icon" width="24" height="24">
   <use href="img/sprite.svg#icon-mail"></use>
</svg> 
 <a href="mailto:info@educationqaga.space">Email:info@educationqaga.space</a>
      </li>
      <li><svg class="icon" width="24" height="24">
      <use href="/img/sprite.svg#icon-map"></use>
    </svg>
    Business Hours: Monday–Friday, 9:00 AM – 5:00 PM (UTC)</li>
    </ul>
  </div>
</section>
