<section class="section" id="features">
  <div class="container features-container">
    <div class="features-title-box">
      <picture class="features-img-title">
        <!-- desktop -->
        <source
          media="(min-width: 1200px)"
          srcset="/img/features/desk-strawberry-min.png"
        />
        <!-- Mobile -->
        <source
          media="(max-width: 1199px)"
          srcset="/img/features/mob-srawberry-min.png"
        />

        <!-- Fullback image -->
        <img
          src="/img/features/desk-strawberry-min.png"
          alt="Strawberry"
          loading="lazy"
          decoding="async"
        />
      </picture>
      <h1 class="features-title">App Features</h1>
    </div>

    <!-- features list -->
    <ul class="features-list">
      <li class="features-item"><p>Easy drag-to-match gameplay</p></li>
      <li class="features-item"><p>Click to hear object names aloud</p></li>
      <li class="features-item">
        <p>Randomized content to avoid repetition</p>
      </li>
      <li class="features-item">
        <p>Child-friendly visuals and audio cues</p>
      </li>
      <li class="features-item"><p>Interactive feedback for all actions</p></li>
      <li class="features-item"><p>Visual star ratings and awards</p></li>
      <li class="features-item">
        <p>No in-app purchases or ads interrupting play</p>
      </li>
      <li class="features-item"><p>Works offline after installation</p></li>
      <li class="features-item">
        <p>Designed for early childhood learning environments</p>
      </li>
    </ul>

    <picture class="features-img-end">
      <source
        media="(min-width: 1200px)"
        srcset="/img/features/desk-banan-min.png"
      />
      <!-- Mobile -->
      <source
        media="(max-width: 1199px)"
        srcset="/img/features/mob-banan-min.png"
      />

      <!-- Fullback image -->
      <img
        src="/img/features/desk-banan-min.png"
        alt="Banan"
        loading="lazy"
        decoding="async"
      />
    </picture>

    <!-- circle -->
    <picture class="features-circle">
      <!-- desktop -->
      <source media="(min-width: 1200px)" srcset="/img/desk-circles.png" />
      <!-- Mobile -->
      <source media="(max-width: 1199px)" srcset="/img/circles.png" />

      <!-- Fullback image -->
      <img
        class="img-circle img-circle-anim"
        src="/img/desk-circles.png"
        alt="Circle img"
        loading="lazy"
        decoding="async"
      />
    </picture>
  </div>
</section>
