<footer class="footer section">
  <div class="container">
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a
            class="nav-link {=$highlight-act}"
            href="./terms-and-conditions.html"
            >Terms & Conditions</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link {=$highlight-curr}" href="./privacy-policy.html"
            >Privacy Policy</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link {=$highlight-act}" href="./cookies-policy.html"
            >Cookie Policy</a
          >
        </li>
      </ul>
    </nav>
    <p class="footer-edlist">
      &copy; 2025 educationqaga.space. All rights reserved.
    </p>
  </div>
</footer>


