<footer class="footer">
  <div class="container">
    <div class="background-container">
  <img src="../img/webp/desk-greenUnion@2x.webp" alt="Image overlay" class="overlay-image">
</div>
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link {=$highlight-act}" href="./cookies-policy.html"
            >Cookie Policy</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link {=$highlight-curr}" href="./privacy-policy.html"
            >Privacy Policy</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {=$highlight-act}"
            href="./terms-and-conditions.html"
            >Terms & Conditions</a
          >
        </li>
      </ul>
    </nav>
<div class="separator-line"></div>
    <div class="footer-edlist">© 2025 educationqaga.space. All rights reserved.
   </div>
  </div>
</footer>
