<section class="section" id="for-whom">
  <div class="container container-for">
    <h2 class="for-title">Who It’s For</h2>
    <h3 class="for-subtitle">Match It is ideal for:</h3>
    <ul class="for-list">
      <li class="for-item">
        <picture>
          <source
            srcset="/img/who/desk1-min.png 1x, /img/who/desk1@2x-min.png 2x"
            media="(min-width: 1200px)"
          />
          <source
            srcset="/img/who/mob1-min.png 1x, /img/who/mob1@2x-min.png 2x"
            media="(max-width: 1199px)"
          />
          <img
            src="/img/who/desk1-min.png"
            alt="Toddlers and preschoolers aged 3–7"
            class="for-image"
          />
        </picture>
        <p class="for-text">Parents looking for educational screen time</p>
      </li>
      <li class="for-item">
        <picture>
          <source
            srcset="/img/who/desk2-min.png 1x, /img/who/desk2@2x-min.png 2x"
            media="(min-width: 1200px)"
          />
          <source
            srcset="/img/who/mob2-min.png 1x, /img/who/mob2@2x-min.png 2x"
            media="(max-width: 1199px)"
          />
          <img
            src="/img/who/desk2-min.png"
            alt="Parents looking for educational screen time"
            class="for-image"
          />
        </picture>
        <p class="for-text">Toddlers and preschoolers aged 3–7</p>
      </li>
      <li class="for-item">
        <picture>
          <source
            srcset="/img/who/desk3-min.png 1x, /img/who/desk3@2x-min.png 2x"
            media="(min-width: 1200px)"
          />
          <source
            srcset="/img/who/mob3-min.png 1x, /img/who/mob3@2x-min.png 2x"
            media="(max-width: 1199px)"
          />
          <img
            src="/img/who/desk3-min.png"
            alt="Early childhood educators and daycare providers"
            class="for-image"
          />
        </picture>
        <p class="for-text">Early childhood educators and daycare providers</p>
      </li>
      <li class="for-item">
        <picture>
          <source
            srcset="/img/who/desk4-min.png 1x, /img/who/desk4@2x-min.png 2x"
            media="(min-width: 1200px)"
          />
          <source
            srcset="/img/who/mob4-min.png 1x, /img/who/mob4@2x-min.png 2x"
            media="(max-width: 1199px)"
          />
          <img
            src="/img/who/desk4-min.png"
            alt="Children with developing language or motor skills"
            class="for-image"
          />
        </picture>
        <p class="for-text">
          Children with developing language or motor skills
        </p>
      </li>
      <li class="for-item">
        <picture>
          <source
            srcset="/img/who/desk5-min.png 1x, /img/who/desk5@2x-min.png 2x"
            media="(min-width: 1200px)"
          />
          <source
            srcset="/img/who/mob5-min.png 1x, /img/who/mob5@2x-4-min.png 2x"
            media="(max-width: 1199px)"
          />
          <img
            src="/img/who/desk5-min.png"
            alt="Homeschooling families seeking interactive activities"
            class="for-image"
          />
        </picture>
        <p class="for-text">
          Homeschooling families seeking interactive activities
        </p>
      </li>
    </ul>
    <p class="final-text">
      It’s accessible to all learning styles and designed to be intuitive for
      non-readers and readers alike.
    </p>
  </div>
</section>
