<section class="section" id="for-whom">
  <div class="container container-for">
    <h2 class="for-title">Who It’s For</h2>
    <h3 class="for-subtitle">Match It is ideal for:</h3>
    <ul class="for-list">
      <li class="for-item">
        <picture>
          <source
            srcset="/img/who/desk1-min.webp 1x, /img/who/desk1@2x-min.webp 2x"
            media="(min-width: 1200px)"
          />
          <source
            srcset="/img/who/mob1-min.webp 1x, /img/who/mob1@2x-min.webp 2x"
            media="(max-width: 1199px)"
          />
          <img
            src="/img/who/desk1-min.webp"
            alt="Toddlers and preschoolers"
            class="for-image"
            loading="lazy"
            decoding="async"
            width="136"
            height="136"
          />
        </picture>
        <p class="for-text">Parents looking for educational screen time</p>
      </li>
      <li class="for-item">
        <picture>
          <source
            srcset="/img/who/desk2-min.webp 1x, /img/who/desk2@2x-min.webp 2x"
            media="(min-width: 1200px)"
          />
          <source
            srcset="/img/who/mob2-min.webp 1x, /img/who/mob2@2x-min.webp 2x"
            media="(max-width: 1199px)"
          />
          <img
            src="/img/who/desk2-min.webp"
            alt="Parents looking for educational"
            class="for-image"
            loading="lazy"
            decoding="async"
            width="136"
            height="136"
          />
        </picture>
        <p class="for-text">Toddlers and preschoolers aged 3–7</p>
      </li>
      <li class="for-item">
        <picture>
          <source
            srcset="/img/who/desk3-min.webp 1x, /img/who/desk3@2x-min.webp 2x"
            media="(min-width: 1200px)"
          />
          <source
            srcset="/img/who/mob3-min.webp 1x, /img/who/mob3@2x-min.webp 2x"
            media="(max-width: 1199px)"
          />
          <img
            src="/img/who/desk3-min.webp"
            alt="Early childhood educators"
            class="for-image"
            loading="lazy"
            decoding="async"
            width="136"
            height="136"
          />
        </picture>
        <p class="for-text">Early childhood educators and daycare providers</p>
      </li>
      <li class="for-item">
        <picture>
          <source
            srcset="/img/who/desk4-min.webp 1x, /img/who/desk4@2x-min.webp 2x"
            media="(min-width: 1200px)"
          />
          <source
            srcset="/img/who/mob4-min.webp 1x, /img/who/mob4@2x-min.webp 2x"
            media="(max-width: 1199px)"
          />
          <img
            src="/img/who/desk4-min.webp"
            alt="Children with developing language"
            class="for-image"
            loading="lazy"
            decoding="async"
            width="136"
            height="136"
          />
        </picture>
        <p class="for-text">
          Children with developing language or motor skills
        </p>
      </li>
      <li class="for-item">
        <picture>
          <source
            srcset="/img/who/desk5-min.webp 1x, /img/who/desk5@2x-min.webp 2x"
            media="(min-width: 1200px)"
          />
          <source
            srcset="/img/who/mob5-min.webp 1x, /img/who/mob5@2x-4-min.webp 2x"
            media="(max-width: 1199px)"
          />
          <img
            src="/img/who/desk5-min.webp"
            alt="Homeschooling families"
            class="for-image"
            loading="lazy"
            decoding="async"
            width="136"
            height="136"
          />
        </picture>
        <p class="for-text">
          Homeschooling families seeking interactive activities
        </p>
      </li>
    </ul>
    <p class="final-text">
      It’s accessible to all <br class="ft-br-mob" />learning styles and
      designed to be intuitive for non-readers and readers alike.
    </p>

    <!-- circle before-->
    <picture class="for-circle-before">
      <source
        media="(min-width: 1200px)"
        srcset="/img/desk-circles.webp 1x, /img/desk-circles@2x.webp 2x"
      />
      <source
        media="(max-width: 1199px)"
        srcset="/img/circles.webp 1x, /img/mob-circles@2x.webp 2x"
      />
      <img
        class="img-circle img-circle-anim"
        src="/img/desk-circles.webp"
        alt="Circle img"
        loading="lazy"
        decoding="async"
      />
    </picture>

    <!-- circle after-->
    <picture class="for-circle-after">
      <source
        media="(min-width: 1200px)"
        srcset="/img/desk-circles.webp 1x, /img/desk-circles@2x.webp 2x"
      />
      <source
        media="(max-width: 1199px)"
        srcset="/img/circles.webp 1x, /img/mob-circles@2x.webp 2x"
      />
      <img
        class="img-circle img-circle-anim"
        src="/img/desk-circles.webp"
        alt="Circle img"
        loading="lazy"
        decoding="async"
      />
    </picture>
  </div>
</section>
