<header class="header">
  <div class="container">
    <a class="header-logo-link" href="./index.html">LOGO</a>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li><a class="header-nav-link" href="#hero">Home</a></li>
        <li><a class="header-nav-link" href="#about-game">About the Game</a></li>
        <li><a class="header-nav-link" href="#how-to-play">How to Play</a></li>
        <li><a class="header-nav-link" href="#benefits">Learning Benefits</a></lii>
        <li><a class="header-nav-link" href="#what-match">What You’ll Match</a></li>
        <li><a class="header-nav-link" href="#rewards">Rewards & Motivation</a></li>
        <li><a class="header-nav-link" href="#features">App Features</a></li>
        <li><a class="header-nav-link" href="#screenshots">Screenshots</a></li>
        <li><a class="header-nav-link" href="#for-whom">Who It's For</a></li>
        <li><a class="header-nav-link" href="#faq">FAQ</a></li>
        <li><a class="header-nav-link" href="#testimonials">Testimonials</a></li>
        <li><a class="header-nav-link" href="#contacts">Contact</a></li>
      </ul>
    </nav>
    <button type="button" class="burger-button" data-action="open">MO</button>
  </div>
</header>
