<section class="section" id="how-to-play">
  <div class="container how-container">
    <div class="how-play-title-box">
      <h2 class="how-play-title">How to Play</h2>

      <picture class="how-play-img">
        <!-- Desktop -->
        <source
          media="(min-width: 1200px)"
          srcset="/img/about/desk-cherry-min.png"
        />
        <!-- Mobile -->
        <source
          media="(max-width: 1199px)"
          srcset="/img/about/mob-cherry-min.png"
        />
        <img src="/img/about/desk-cherry-min.png" />
      </picture>
    </div>

    <div class="how-play-text-box">
      <ul>
        <li>
          <p> - The gameplay is simple and intuitive.</p>
        </li>
        <li>
          <p>
            - Children draw a line between two related images—a picture and its
            name, two identical animals, or a shape and its outline.
          </p>
        </li>
        <li>
          <p>
            - Correct matches are rewarded with visual confirmation and sounds,
            reinforcing learning.
          </p>
        </li>
        <li>
          <p>
            - Players earn stars for completing levels and receive motivational
            praise after each round.
          </p>
        </li>
        <li>
          <p>
            - The more they play, the more they unlock. The game adapts with new
            visuals and levels to keep children interested and challenged.
          </p>
        </li>
      </ul>
      <img
        class="how-play-circle img-circle-anim"
        src="/img/circles.png"
        width="110"
        height="110"
      />
    </div>
  </div>
</section>
