
<section class="section" id="rewards">
  <div class="container container-rewards">
        <h2 class="title-rewards">Rewards & Motivation</h2>
         <picture class="reward-phone-box">
<source srcset="/img/rewards/desk-tel-min.png 1x, /img/rewards/desk-tel@2x-min.png 2x" media="(min-width: 1200px)">
<source srcset="/img/rewards/mob-tel-min.png 1x, /img/rewards/mob-tel@2x-min.png 2x" media="(max-width: 1199px)">
<img src="/img/rewards/desk-tel-min.png" alt="Phone in hand" class="phone-image" >
</picture>
     
      <p class="text-rewards">Encouragement is built into every level. Children earn:</p>
  <ul class="list-rewards">
    <li class="item-rewards">Stars after every completed level</li>
    <li class="item-rewards">Achievement medals for streaks</li>
    <li class="item-rewards">Fun applause animations after accuracy</li>
    <li class="item-rewards">Unlockable badges for exploring new categories</li>
  </ul>
  <p class="finish-rewards">
    This soft reward system keeps the experience exciting without over-stimulation.
    Parents can track progress and celebrate learning milestones with their child.
  </p>
     
  </div>
</section>
  

