<section class="section" id="screenshots">
  <div class="container screenshots-container">
    <h2 class="screenshots-title">Screenshots & Game Preview</h2>

    <!-- Slider main container -->
    <div class="swiper screenshots-swiper" data-screen-slide>
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper screenshots-slide-wrapper">
        <!-- slide1-->
        <div class="swiper-slide screenshots-slide">
          <!-- Desktop -->
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/screenshots/desc-screen-1.webp,
                /img/screenshots/desc-screen-1@2x.webp
              "
            />
            <!-- Mobile -->
            <source
              media="(max-width: 1199px)"
              srcset="
                /img/screenshots/mob-sceen-1.webp,
                /img/screenshots/mob-sceen-1@2x.webp
              "
            />
            <!-- Fullback image -->
            <img
              src="/img/screenshots/desc-screen-1.webp"
              alt="Slide1"
              class="screenshots-slide-img"
              loading="lazy"
              decoding="async"
              width="288"
              height="512"
            />
          </picture>
        </div>
        <!-- slide2 -->
        <div class="swiper-slide screenshots-slide">
          <!--Desktop -->
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/screenshots/desc-screen-2.webp,
                /img/screenshots/desc-screen-2@2x.webp
              "
            />
            <!-- Mobile -->
            <source
              media="(max-width: 1199px)"
              srcset="
                /img/screenshots/mob-sceen-2.webp,
                /img/screenshots/mob-sceen-2@2x.webp
              "
            />
            <!-- Fullback image -->
            <img
              src="/img/screenshots/desc-screen-2.webp"
              alt="Slide2"
              class="screenshots-slide-img"
              loading="lazy"
              decoding="async"
              width="288"
              height="512"
            />
          </picture>
        </div>
        <!-- Slide 3 -->
        <div class="swiper-slide screenshots-slide">
          <!--Desktop -->
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/screenshots/desc-screen-3.webp,
                /img/screenshots/desc-screen-3@2x.webp
              "
            />
            <!-- Mobile -->
            <source
              media="(max-width: 1199px)"
              srcset="
                /img/screenshots/mob-sceen-3.webp,
                /img/screenshots/mob-sceen-3@2x.webp
              "
            />
            <!-- Fullback image -->
            <img
              src="/img/screenshots/desc-screen-3.webp"
              alt="Slide3"
              class="screenshots-slide-img"
              loading="lazy"
              decoding="async"
              width="288"
              height="512"
            />
          </picture>
        </div>
        <!-- Slide 4 -->
        <div class="swiper-slide screenshots-slide">
          <!--Desktop -->
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/screenshots/desc-screen-4.webp,
                /img/screenshots/desc-screen-4@2x.webp
              "
            />
            <!-- Mobile -->
            <source
              media="(max-width: 1199px)"
              srcset="
                /img/screenshots/mob-sceen-4.webp,
                /img/screenshots/mob-sceen-4@2x.webp
              "
            />
            <!-- Fullback image -->
            <img
              src="/img/screenshots/desc-screen-4.webp"
              alt="Slide4"
              class="screenshots-slide-img"
              loading="lazy"
              decoding="async"
              width="288"
              height="512"
            />
          </picture>
        </div>
        <!-- Slide 5 -->
        <div class="swiper-slide screenshots-slide">
          <!--Desktop -->
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/screenshots/desc-screen-5.webp,
                /img/screenshots/desc-screen-5@2x.webp
              "
            />
            <!-- Mobile -->
            <source
              media="(max-width: 1199px)"
              srcset="
                /img/screenshots/mob-sceen-5.webp,
                /img/screenshots/mob-sceen-5@2x.webp
              "
            />
            <!-- Fullback image -->
            <img
              src="/img/screenshots/desc-screen-5.webp"
              alt="Slide5"
              class="screenshots-slide-img"
              loading="lazy"
              decoding="async"
              width="288"
              height="512"
            />
          </picture>
        </div>
        <!-- Slide 6 -->
        <div class="swiper-slide screenshots-slide">
          <!--Desktop -->
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/screenshots/desc-screen-6.webp,
                /img/screenshots/desc-screen-6@2x.webp
              "
            />
            <!-- Mobile -->
            <source
              media="(max-width: 1199px)"
              srcset="
                /img/screenshots/mob-sceen-6.webp,
                /img/screenshots/mob-sceen-6@2x.webp
              "
            />
            <!-- Fullback image -->
            <img
              src="/img/screenshots/desc-screen-6.webp"
              alt="Slide6"
              class="screenshots-slide-img"
              loading="lazy"
              decoding="async"
              width="288"
              height="512"
            />
          </picture>
        </div>
        <!-- Slide 7 -->
        <div class="swiper-slide screenshots-slide">
          <!--Desktop -->
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/screenshots/desc-screen-7.webp,
                /img/screenshots/desc-screen-7@2x.webp
              "
            />
            <!-- Mobile -->
            <source
              media="(max-width: 1199px)"
              srcset="
                /img/screenshots/mob-sceen-7.webp,
                /img/screenshots/mob-sceen-7@2x.webp
              "
            />
            <!-- Fullback image -->
            <img
              src="/img/screenshots/desc-screen-7.webp"
              alt="Slide7"
              class="screenshots-slide-img"
              loading="lazy"
              decoding="async"
              width="288"
              height="512"
            />
          </picture>
        </div>
        <!-- Slide 8 -->
        <div class="swiper-slide screenshots-slide">
          <!--Desktop -->
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/screenshots/desc-screen-8.webp,
                /img/screenshots/desc-screen-8@2x.webp
              "
            />
            <!-- Mobile -->
            <source
              media="(max-width: 1199px)"
              srcset="
                /img/screenshots/mob-sceen-8.webp,
                /img/screenshots/mob-sceen-8@2x.webp
              "
            />
            <!-- Fullback image -->
            <img
              src="/img/screenshots/desc-screen-8.webp"
              alt="Slide8"
              class="screenshots-slide-img"
              loading="lazy"
              decoding="async"
              width="288"
              height="512"
            />
          </picture>
        </div>
        <!-- Slide 9 -->
        <div class="swiper-slide screenshots-slide">
          <!--Desktop -->
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/screenshots/desc-screen-9.webp,
                /img/screenshots/desc-screen-9@2x.webp
              "
            />
            <!-- Mobile -->
            <source
              media="(max-width: 1199px)"
              srcset="
                /img/screenshots/mob-sceen-9.webp,
                /img/screenshots/mob-sceen-9@2x.webp
              "
            />
            <!-- Fullback image -->
            <img
              src="/img/screenshots/desc-screen-9.webp"
              alt="Slide9"
              class="screenshots-slide-img"
              loading="lazy"
              decoding="async"
              width="288"
              height="512"
            />
          </picture>
        </div>
        <!-- Slide 10 -->
        <div class="swiper-slide screenshots-slide">
          <!--Desktop -->
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/screenshots/desc-screen-10.webp,
                /img/screenshots/desc-screen-10@2x.webp
              "
            />
            <!-- Mobile -->
            <source
              media="(max-width: 1199px)"
              srcset="
                /img/screenshots/mob-sceen-10.webp,
                /img/screenshots/mob-sceen-10@2x.webp
              "
            />
            <!-- Fullback image -->
            <img
              src="/img/screenshots/desc-screen-10.webp"
              alt="Slide10"
              class="screenshots-slide-img"
              loading="lazy"
              decoding="async"
              width="288"
              height="512"
            />
          </picture>
        </div>
        <!-- Slide 11 -->
        <div class="swiper-slide screenshots-slide">
          <!--Desktop -->
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/screenshots/desc-screen-11.webp,
                /img/screenshots/desc-screen-11@2x.webp
              "
            />
            <!-- Mobile -->
            <source
              media="(max-width: 1199px)"
              srcset="
                /img/screenshots/mob-sceen-11.webp,
                /img/screenshots/mob-sceen-11@2x.webp
              "
            />
            <!-- Fullback image -->
            <img
              src="/img/screenshots/desc-screen-11.webp"
              alt="Slide11"
              class="screenshots-slide-img"
              loading="lazy"
              decoding="async"
              width="288"
              height="512"
            />
          </picture>
        </div>
      </div>

      <!-- pagination -->
      <div class="swiper-pagination" data-screen-pagination></div>

      <!-- navigation buttons -->
      <button
        type="button"
        class="slide-screen-prev-btn swiper-button-prev"
        data-screen-prev-btn
      >
        <svg class="icon-slide" width="64" height="64">
          <use href="/img/sprite.svg#icon-arrow-left"></use>
        </svg>
      </button>

      <button
        type="button"
        class="slide-screen-next-btn swiper-button-next"
        data-screen-next-btn
      >
        <svg class="icon-slide" width="64" height="64">
          <use href="/img/sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
