<section class="section" id="screenshots">
  <div class="container screenshots-container">
    <h1 class="screenshots-title">Screenshots & Game Preview</h1>

    <!-- Slider main container -->
    <div class="swiper screenshots-swiper" data-screen-slide>
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper screenshots-slide-wrapper">
        <!-- slide1-->
        <div class="swiper-slide screenshots-slide">
          <!-- Desktop -->
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/screenshots/desc-screen-1.png,
                /img/screenshots/desc-screen-1@2x.png
              "
            />
            <!-- Mobile -->
            <source
              media="(max-width: 1199px)"
              srcset="
                /img/screenshots/mob-sceen-1.png,
                /img/screenshots/mob-sceen-1@2x.png
              "
            />
            <!-- Fullback image -->
            <img src="/img/screenshots/desc-screen-1.png" alt="Slide1" />
          </picture>
        </div>
        <!-- slide2 -->
        <div class="swiper-slide screenshots-slide">
          <!--Desktop -->
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/screenshots/desc-screen-2.png,
                /img/screenshots/desc-screen-2@2x.png
              "
            />
            <!-- Mobile -->
            <source
              media="(max-width: 1199px)"
              srcset="
                /img/screenshots/mob-sceen-2.png,
                /img/screenshots/mob-sceen-2@2x.png
              "
            />
            <!-- Fullback image -->
            <img src="/img/screenshots/desc-screen-2.png" alt="Slide2" />
          </picture>
        </div>
        <!-- Slide 3 -->
        <div class="swiper-slide screenshots-slide">
          <!--Desktop -->
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/screenshots/desc-screen-3.png,
                /img/screenshots/desc-screen-3@2x.png
              "
            />
            <!-- Mobile -->
            <source
              media="(max-width: 1199px)"
              srcset="
                /img/screenshots/mob-sceen-3.png,
                /img/screenshots/mob-sceen-3@2x.png
              "
            />
            <!-- Fullback image -->
            <img src="/img/screenshots/desc-screen-3.png" alt="Slide3" />
          </picture>
        </div>
        <!-- Slide 4 -->
        <div class="swiper-slide screenshots-slide">
          <!--Desktop -->
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/screenshots/desc-screen-4.png,
                /img/screenshots/desc-screen-4@2x.png
              "
            />
            <!-- Mobile -->
            <source
              media="(max-width: 1199px)"
              srcset="
                /img/screenshots/mob-sceen-4.png,
                /img/screenshots/mob-sceen-4@2x.png
              "
            />
            <!-- Fullback image -->
            <img src="/img/screenshots/desc-screen-4.png" alt="Slide4" />
          </picture>
        </div>
        <!-- Slide 5 -->
        <div class="swiper-slide screenshots-slide">
          <!--Desktop -->
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/screenshots/desc-screen-5.png,
                /img/screenshots/desc-screen-5@2x.png
              "
            />
            <!-- Mobile -->
            <source
              media="(max-width: 1199px)"
              srcset="
                /img/screenshots/mob-sceen-5.png,
                /img/screenshots/mob-sceen-5@2x.png
              "
            />
            <!-- Fullback image -->
            <img src="/img/screenshots/desc-screen-5.png" alt="Slide5" />
          </picture>
        </div>
        <!-- Slide 6 -->
        <div class="swiper-slide screenshots-slide">
          <!--Desktop -->
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/screenshots/desc-screen-6.png,
                /img/screenshots/desc-screen-6@2x.png
              "
            />
            <!-- Mobile -->
            <source
              media="(max-width: 1199px)"
              srcset="
                /img/screenshots/mob-sceen-6.png,
                /img/screenshots/mob-sceen-6@2x.png
              "
            />
            <!-- Fullback image -->
            <img src="/img/screenshots/desc-screen-6.png" alt="Slide6" />
          </picture>
        </div>
        <!-- Slide 7 -->
        <div class="swiper-slide screenshots-slide">
          <!--Desktop -->
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/screenshots/desc-screen-7.png,
                /img/screenshots/desc-screen-7@2x.png
              "
            />
            <!-- Mobile -->
            <source
              media="(max-width: 1199px)"
              srcset="
                /img/screenshots/mob-sceen-7.png,
                /img/screenshots/mob-sceen-7@2x.png
              "
            />
            <!-- Fullback image -->
            <img src="/img/screenshots/desc-screen-7.png" alt="Slide7" />
          </picture>
        </div>
        <!-- Slide 8 -->
        <div class="swiper-slide screenshots-slide">
          <!--Desktop -->
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/screenshots/desc-screen-8.png,
                /img/screenshots/desc-screen-8@2x.png
              "
            />
            <!-- Mobile -->
            <source
              media="(max-width: 1199px)"
              srcset="
                /img/screenshots/mob-sceen-8.png,
                /img/screenshots/mob-sceen-8@2x.png
              "
            />
            <!-- Fullback image -->
            <img src="/img/screenshots/desc-screen-8.png" alt="Slide8" />
          </picture>
        </div>
        <!-- Slide 9 -->
        <div class="swiper-slide screenshots-slide">
          <!--Desktop -->
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/screenshots/desc-screen-9.png,
                /img/screenshots/desc-screen-9@2x.png
              "
            />
            <!-- Mobile -->
            <source
              media="(max-width: 1199px)"
              srcset="
                /img/screenshots/mob-sceen-9.png,
                /img/screenshots/mob-sceen-9@2x.png
              "
            />
            <!-- Fullback image -->
            <img src="/img/screenshots/desc-screen-9.png" alt="Slide9" />
          </picture>
        </div>
        <!-- Slide 10 -->
        <div class="swiper-slide screenshots-slide">
          <!--Desktop -->
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/screenshots/desc-screen-10.png,
                /img/screenshots/desc-screen-10@2x.png
              "
            />
            <!-- Mobile -->
            <source
              media="(max-width: 1199px)"
              srcset="
                /img/screenshots/mob-sceen-10.png,
                /img/screenshots/mob-sceen-10@2x.png
              "
            />
            <!-- Fullback image -->
            <img src="/img/screenshots/desc-screen-10.png" alt="Slide10" />
          </picture>
        </div>
        <!-- Slide 11 -->
        <div class="swiper-slide screenshots-slide">
          <!--Desktop -->
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/screenshots/desc-screen-11.png,
                /img/screenshots/desc-screen-11@2x.png
              "
            />
            <!-- Mobile -->
            <source
              media="(max-width: 1199px)"
              srcset="
                /img/screenshots/mob-sceen-11.png,
                /img/screenshots/mob-sceen-11@2x.png
              "
            />
            <!-- Fullback image -->
            <img src="/img/screenshots/desc-screen-11.png" alt="Slide11" />
          </picture>
        </div>
      </div>

      <!-- pagination -->
      <div class="swiper-pagination" data-screen-pagination></div>

      <!-- navigation buttons -->
      <button
        type="button"
        class="slide-screen-prev-btn swiper-button-prev"
        data-screen-prev-btn
      >
        <svg class="icon-slide" width="64" height="64">
          <use href="/img/sprite.svg#icon-arrow-left"></use>
        </svg>
      </button>

      <button
        type="button"
        class="slide-screen-next-btn swiper-button-next"
        data-screen-next-btn
      >
        <svg class="icon-slide" width="64" height="64">
          <use href="/img/sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
