<section class="section" id="what-match">
  <div class="container what-container">
    <!-- <picture class="what-circle-before">
      <source media="(min-width: 1200px)" srcset="/img/desk-circles.png" />
      <source
        media="(max-width: 1199px)"
        srcset="/img/circles.png 1x, /img/mob-circles@2x.png 2x"
      />
      <img class="img-circle" src="/img/desk-circles.png" alt="Circle img" />
    </picture> -->

    <h2 class="what-title">What You’ll Match</h2>
    <p class="what-text">Across different game modes, children can match:</p>

    <ul class="what-list">
      <li class="what-item">
        <picture class="what-image">
          <source
            srcset="
              /img/whatmatch/desc-sxer.png    1x,
              /img/whatmatch/desc-sxer@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /img/whatmatch/mob-sxer.png    1x,
              /img/whatmatch/mob-sxer@2x.png 2x
            "
            media="(max-width: 1199px)"
          />
          <img src="/img/whatmatch/desc-sxer.png " alt="Alphabet letters" />
        </picture>
        <p class="text-span">Alphabet letters and their names</p>
      </li>

      <li class="what-item">
        <picture class="what-image">
          <source
            srcset="
              /img/whatmatch/desc-colors.png    1x,
              /img/whatmatch/desc-colors@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /img/whatmatch/mob-color.png    1x,
              /img/whatmatch/mob-color@2x.png 2x
            "
            media="(max-width: 1199px)"
          />
          <img
            src="/img/whatmatch/desc-colors.png"
            alt="Colors"
            class="what-image"
          />
        </picture>
        <p class="text-span">Colors and color names</p>
      </li>

      <li class="what-item">
        <picture class="what-image">
          <source
            srcset="
              /img/whatmatch/desc-figures.png    1x,
              /img/whatmatch/desc-figures@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /img/whatmatch/mob-figures.png    1x,
              /img/whatmatch/mob-figures@2x.png 2x
            "
            media="(max-width: 1199px)"
          />
          <img
            src="/img/whatmatch/desc-figures.png"
            alt="Shapes"
            class="what-image"
          />
        </picture>
        <p class="text-span">Shapes and <br />outlines</p>
      </li>

      <li class="what-item">
        <picture class="what-image">
          <source
            srcset="
              /img/whatmatch/desc-fruits.png    1x,
              /img/whatmatch/desc-fruits@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /img/whatmatch/mob-fruits.png    1x,
              /img/whatmatch/mob-fruits@2x.png 2x
            "
            media="(max-width: 1199px)"
          />
          <img
            src="/img/whatmatch/desc-fruits.png"
            alt="Fruits and vegetables"
            class="what-image"
          />
        </picture>
        <p class="text-span">Fruits, vegetables, and their names</p>
      </li>

      <li class="what-item">
        <picture class="what-image">
          <source
            srcset="
              /img/whatmatch/desc-animals.png    1x,
              /img/whatmatch/desc-animals@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /img/whatmatch/mob-animals.png    1x,
              /img/whatmatch/mob-animals@2x.png 2x
            "
            media="(max-width: 1199px)"
          />
          <img
            src="/img/whatmatch/desc-animals.png"
            alt="Animals"
            class="what-image"
          />
        </picture>
        <p class="text-span">Domestic and wild animals</p>
      </li>

      <li class="what-item">
        <picture class="what-image">
          <source
            srcset="
              /img/whatmatch/desc-transport.png    1x,
              /img/whatmatch/desc-transport@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /img/whatmatch/mob-transport.png    1x,
              /img/whatmatch/mob-transport@2x.png 2x
            "
            media="(max-width: 1199px)"
          />
          <img
            src="/img/whatmatch/desc-transport.png"
            alt="Vehicles"
            class="what-image"
          />
        </picture>
        <p class="text-span">Vehicles and their types</p>
      </li>

      <li class="what-item">
        <picture class="what-image">
          <source
            srcset="
              /img/whatmatch/desc-birds.png    1x,
              /img/whatmatch/desc-birds@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /img/whatmatch/mob-birds.png    1x,
              /img/whatmatch/mob-birds@2x.png 2x
            "
            media="(max-width: 1199px)"
          />
          <img
            src="/img/whatmatch/desc-birds.png "
            alt="Birds and objects"
            class="what-image"
          />
        </picture>
        <p class="text-span">Birds, flowers, and basic objects</p>
      </li>
    </ul>

    <p class="what-text-bottom">
      Each category has its own themed learning journey,<br />
      carefully curated for age-appropriate understanding.
    </p>

    <!-- circle before -->

    <!-- circle  after-->
    <!-- <picture class="what-circle-after">
      <source media="(min-width: 1200px)" srcset="/img/desk-circles.png" />
      <source
        media="(max-width: 1199px)"
        srcset="/img/circles.png 1x, /img/mob-circles@2x.png 2x"
      />
      <img src="/img/desk-circles.png" alt="Circle img" />
    </picture> -->
  </div>
</section>
