<section class="section" id="what-match">
  <div class="container">
    <h2 class="what-title">What You’ll Match</h2>
 <p class="what-text">
    Across different game modes, children can match:
  </p>

  <ul class="what-list">
    <li class="what-item">
      <picture>
        <source srcset="/img/whatmatch/desk-stains-min.png 1x /img/whatmatch/desk-sxer@2x-min.png 2x" media="(min-width: 1200px)">
        <source srcset="/img/whatmatch/mob-sxer-min.png 1x /img/whatmatch/mob-sxer@2x-min.png 2x" media="(max-width: 1199px)">
        <img src="/img/whatmatch/desk-stains-min.png" alt="Alphabet letters" class="what-image">
      </picture>
      <span class="text-span">Alphabet letters and their names</span>
    </li>

    <li class="what-item">
      <picture>
        <source srcset="/img/whatmatch/desk-stain-min.png 1x /img/whatmatch/desk-stains@2x-min.png 2x" media="(min-width: 1200px)">
        <source srcset="/img/whatmatch/mob-stain-min.png 1x /img/whatmatch/mob-stain@2x-min.png 2x" media="(max-width: 1199px)">
        <img src="/img/whatmatch/desk-stain-min.png" alt="Colors" class="what-image">
      </picture>
      <span class="text-span">Colors and color names</span>
    </li>

    <li class="what-item">
      <picture>
        <source srcset="/img/whatmatch/desk-formu-min.png 1x /img/whatmatch/desk-formu@2x-min.png 2x" media="(min-width: 1200px)">
        <source srcset="/img/whatmatch/mob-formu-min.png 1x /img/whatmatch/mob-formu@2x-min.png 2x" media="(max-width: 1199px)">
        <img src="/img/whatmatch/desk-formu-min.png" alt="Shapes" class="what-image">
      </picture>
      <span class="text-span">Shapes and outlines</span>
    </li>

    <li class="what-item">
      <picture>
        <source srcset="/img/whatmatch/desk-fruits-min.png 1x /img/whatmatch/desk-fruits@2x-1-min.png 2x" media="(min-width: 1200px)">
        <source srcset="/img/whatmatch/mob-fruits-min.png 1x /img/whatmatch/mob-fruits@2x-1-min.png 2x" media="(max-width: 1199px)">
        <img src="/img/whatmatch/desk-fruits-min.png" alt="Fruits and vegetables" class="what-image">
      </picture>
      <span class="text-span">Fruits, vegetables, and their names</span>
    </li>

    <li class="what-item">
      <picture>
        <source srcset="/img/whatmatch/desk-animals-min.png 1x /img/whatmatch/desk-animals@2x4-min.png 2x" media="(min-width: 1200px)">
        <source srcset="/img/whatmatch/mob-animals-min.png 1x /img/whatmatch/mob-animals@2x-min.png 2x" media="(max-width: 1199px)">
        <img src="/img/whatmatch/desk-animals-min.png" alt="Animals" class="what-image">
      </picture>
      <span class="text-span">Domestic and wild animals</span>
    </li>

    <li class="what-item">
      <picture>
        <source srcset="/img/whatmatch/desk-transport-min.png 1x /img/whatmatch/desk-transport@2x-min.png 2x" media="(min-width: 1200px)">
        <source srcset="/img/whatmatch/mob-transport-min.png 1x /img/whatmatch/mob-transport@2x-min.png 2x" media="(max-width: 1199px)">
        <img src="/img/whatmatch/desk-transport-min.png" alt="Vehicles" class="what-image">
      </picture>
      <span class="text-span">Vehicles and their types</span>
    </li>

    <li class="what-item">
      <picture>
        <source srcset="/img/whatmatch/desk-flowers-min.png 1x /img/whatmatch/desk-flowers@2x-min.png 2x" media="(min-width: 1200px)">
        <source srcset="/img/whatmatch/mob-flowers-min.png 1x /img/whatmatch/mob-flowers@2x-min.png 2x" media="(max-width: 1199px)">
        <img src="/img/whatmatch/desk-flowers-min.png" alt="Birds and objects" class="what-image">
      </picture>
      <span class="text-span">Birds, flowers, and basic objects</span>
    </li>
  </ul>

  <p class="what-text-bottom">
    Each category has its own themed learning journey,<br>
    carefully curated for age-appropriate understanding.
  </p>
  </div>
</section>
