@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600&family=DynaPuff:wght@400;500&display=swap');

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Poppins',
    'DynaPuff', sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;

  background-color: #c2f07a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  color: #094b3c;
  margin: 0;
  scroll-margin-bottom: 92px;
  background: linear-gradient(270deg, #c2f07a 0%, #e6f8c9 48.56%, #7dc081 100%);
}

h1,
h2 {
  font-family: 'DynaPuff', sans-serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 1.06;
  color: #f66706;
}

/* main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
} */

/* Styles for Desktop devices */
@media only screen and (min-width: 1200px) {
  .body {
    scroll-margin-bottom: 114px;
  }
}
