.title-contact {
  text-align: center;
  margin-bottom: 24px;
}

.text-contact {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 16px;
}

.contact-info {
  line-height: 1.25;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact-info li {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  /*   margin-bottom: 16px; */
  text-align: center;
  justify-content: center;
}

.icon {
  fill: none;
  stroke: #094b3c;
}

.contact-container {
  position: relative;
}

.contact-circle-before {
  display: none;
}

.contact-circle-after {
  position: absolute;
  width: 80px;
  height: 83px;
  overflow: hidden;
  right: 0;
  bottom: -83px;
  transition: color 0.3s ease;
}

.contact-mail-link:hover {
  color: #0a935c;
}

.contact-mail-link:focus {
  color: #61ad7e;
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1200px) {
  .title-contact {
    font-size: 64px;
    line-height: 1.02;
  }

  .text-contact {
    font-size: 30px;
    line-height: 0.67;
    margin-bottom: 64px;
  }
  .contact-info {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    gap: 16;
    align-items: center;
    justify-content: center;
  }

  .contact-info li {
    flex-direction: row;
    width: 621px;
  }

  .contact-circle-after {
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden;
    right: auto;
    left: 15px;
    bottom: -270px;
  }

  .img-circle {
    width: 290px;
    height: 290px;
  }

  .contact-circle-before {
    position: absolute;
    display: block;
    width: 162px;
    overflow: hidden;
    right: 0;
    top: -60px;
  }
}
