 width: 100%;.footer > .container {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 69px;
  color: #eeffde;
  background-image: url('/img/footer/mob-green-min.png'),
    linear-gradient(to bottom right, #67ad56, #67ad56);
  background-repeat: no-repeat;
  background-position: top center, left 0 top 29px;
  background-size: 320px, auto;
  font-size: 20px;
  line-height: 1;
}

.nav {
  padding-top: 22px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.nav::after {
  position: absolute;
  content: '';
  width: 320px;
  height: 1px;
  background-color: #eeffde;
  left: -16px;
  bottom: -34px;
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.nav-link {
  transition: color 0.2s ease-in;
}

.nav-link:hover {
  color: #cceab6;
}

.nav-link:focus {
  color: #aded7e;
}

.footer-edlist {
  word-wrap: break-word;
  padding-bottom: 22px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .footer > .container {
    background-image: url('/img/footer/mob-green@2x-min.png'),
      linear-gradient(to bottom right, #67ad56, #67ad56);
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1200px) {
  .footer > .container {
    padding-top: 71px;
    background-image: url('/img/footer/desk-greenunion-min.png'),
      linear-gradient(to bottom right, #67ad56, #67ad56);
    background-size: 1200px auto;
    background-position: top center, left 0 top 69px;
    /* margin: 0 auto; */
  }

  .nav {
    padding-top: 40px;
  }

  .nav::after {
    width: 100%;
    left: 0;
  }

  .nav-list {
    flex-direction: row;
    gap: 40px;
  }

  .footer-edlist {
    padding-bottom: 40px;
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .footer > .container {
      background-image: url('/img/footer/desk-greenunion@2x-min.png'),
        linear-gradient(to bottom right, #67ad56, #67ad56);
    }
  }
}

