.header {
  padding: 20px 0;
}

.wrapper {
  display: flex;
  gap: 60px;
}

.burger-btn,
.btn-close {
  padding: 0.5em 0.8em;
  font-size: 1rem;
  background-color: blueviolet;
  border: none;
  border-radius: 0.5em;
  color: #fff;
}

.burger-menu {
  background-color: lightgreen;
  display: flex;
  justify-content: space-between;
  width: 150px;
  padding: 8px;
  position: absolute;
  top: 0;
  right: 0;
}

.btn-close {
  align-self: baseline;
  padding: 4px;
}

[data-visible='open'] {
  display: flex;
}

[data-visible='close'] {
  display: none;
}
