.tp-section {
  padding-top: 38px;
}

.container-police {
  position: relative;
  /* border: 2px dashed #09604d; */
  border-radius: 16px;
  width: 100%;
  background-color: rgba(238, 255, 222, 0.6);
  padding: 40px 20px;
  overflow: visible;
}
/* Horizontal borders*/
.container-police::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 2px;
  border-radius: 16px;
  background:
      /* TOP */ repeating-linear-gradient(
        to right,
        #09604d 0,
        #09604d 16px,
        transparent 16px,
        transparent 32px
      )
      top/100% 2px no-repeat,
    /* Bottom */
      repeating-linear-gradient(
        to right,
        #09604d 0,
        #09604d 16px,
        transparent 16px,
        transparent 32px
      )
      bottom/100% 2px no-repeat;
  pointer-events: none;
  z-index: 1;
}

/* Vertical borders*/
.container-police::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 2px;
  border-radius: 16px;
  background:
      /* Left */ repeating-linear-gradient(
        to bottom,
        #09604d 0,
        #09604d 16px,
        transparent 16px,
        transparent 32px
      )
      left/2px 100% no-repeat,
    /* Right */
      repeating-linear-gradient(
        to bottom,
        #09604d 0,
        #09604d 16px,
        transparent 16px,
        transparent 32px
      )
      right/2px 100% no-repeat;
  pointer-events: none;
  z-index: 1;
}
.overlay-image {
  position: absolute;
  top: -70px;
  right: 40px;
  transform: rotate(-1deg);
  width: 94px;
  height: 72px;
  z-index: 10;
  /* pointer-events: none;
  user-select: none; */
}

.main-title {
  color: #094b3c;
  margin-bottom: 32px;
  white-space: nowrap;
}

.title-subtitle {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.88;
  color: #094b3c;
  margin-bottom: 25px;
}

.text-policy {
  font-size: 16px;
  line-height: 1.88;
  margin-bottom: 25px;
}

.list-text {
  font-size: 16px;
  line-height: 1.88;
  margin-bottom: 25px;
  list-style-type: disc;
  padding-left: 20px;
}

.pp-link {
  color: #094b3c;
  text-decoration: underline;
}

.pp-link:hover {
  color: #067b3a;
}

.privacy-circle-after{
  position: absolute;
  width: 75px;
  height: 75px;
  top:  -90px;
  right: 20px;
}

.privacy-circle-before{
position: absolute;
  width: 75px;
  height: 75px;
  left: -13px;
  bottom: -42px;
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1200px) {
  .tp-section {
    padding-top: 100px;
  }

  .container-police {
    /* width: 1152px; */
    padding: 40px 58px;
  }

  .main-title {
    margin-bottom: 42px;
    font-weight: 500;
    font-size: 40px;
    line-height: 1;
    text-align: center;
  }

  .title-subtitle,
  .text-policy,
  .list-text {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 32px;
  }

  .overlay-image {
    left: 180px;
    top: -95px;
    transform: rotate(-3deg);
    width: 151px;
    height: 116px;
  }

  .list-text {
    padding-left: 30px;
  }
  .privacy-circle-after{
  position: absolute;
  width: 230px;
  height: 230px;
  top:  -134px;
  right: 50px;
}

.privacy-circle-before{
position: absolute;
  width: 230px;
  height: 230px;
  left: -10px;
  bottom: -88px;
}
}
