.container-rewards {
  background-image: url('/img/rewards/mob-fon-min.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 40px 16px 47px;
  position: relative;
  z-index: 5;
}

.title-rewards {
  text-align: center;
  margin-bottom: 24px;
  z-index: 9;
  position: relative;
}
.phone-image {
  /* width: 288px; */
  margin-bottom: 24px;
}

.text-rewards {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 24px;
}

.finish-rewards {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
}

.list-rewards {
  line-height: 1.5;
  text-align: center;
  list-style-type: disc;
  list-style-position: inside;
  /* padding-left: 20px; */
  margin-bottom: 24px;
}

.rewards-circle-before {
  position: absolute;
  top: -45px;
  left: 0;
  z-index: 0;
}

.rewards-circle-after {
  position: absolute;
  bottom: -65px;
  right: 0px;
  z-index: 0;
  height: 110px;
  width: 88px;
  overflow: hidden;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .container-rewards {
    background-image: url('/img/rewards/mob-fon@2x-min.webp');
  }
}

/* Styles for Desktop devices */
@media (min-width: 1200px) {
  .container-rewards {
    background-image: url('/img/rewards/desk-fon-min.webp');
    padding: 140px 24px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 32px;
  }

  .reward-phone-box {
    position: absolute;
    bottom: 38px;
    right: 24px;
    width: 514px;
    height: 660px;
  }

  .phone-image {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
  }

  .title-rewards,
  .text-rewards,
  .list-rewards,
  .finish-rewards {
    width: 663px;
  }

  .title-rewards {
    font-size: 64px;
    line-height: 1.02;
    margin-bottom: 0;
  }

  .text-rewards {
    font-size: 24px;
    line-height: 1;
    margin-bottom: 0;
  }

  .list-rewards {
    font-size: 20px;
    margin-bottom: 0;
  }

  .finish-rewards {
    line-height: 1.5;
  }

  .img-circle {
    display: block;
    width: 230px;
    height: 291px;
    object-fit: contain;
  }

  .rewards-circle-before {
    width: 155px;
    height: 291px;
    top: -239px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
  }

  .rewards-circle-after {
    display: none;
  }

  @media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2),
    (min-width: 1200px) and (min-resolution: 192dpi) {
    .container-rewards {
      background-image: url(/img/rewards/desk-fon@2x-min.webp);
    }
  }
}
