/* Cookies Policy */
.container-cookies {
  position: relative;
  /* border: 2px dashed #09604d; */
  border-radius: 16px;
  width: 100%;
  background-color: rgba(238, 255, 222, 0.6);
  padding: 40px 20px;
  overflow: visible;
}
/* Horizontal borders*/
.container-cookies::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 2px;
  border-radius: 16px;
  background:
      /* TOP */ repeating-linear-gradient(
        to right,
        #09604d 0,
        #09604d 16px,
        transparent 16px,
        transparent 32px
      )
      top/100% 2px no-repeat,
    /* Bottom */
      repeating-linear-gradient(
        to right,
        #09604d 0,
        #09604d 16px,
        transparent 16px,
        transparent 32px
      )
      bottom/100% 2px no-repeat;
  pointer-events: none;
  z-index: 1;
}

/* Vertical borders*/
.container-cookies::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 2px;
  border-radius: 16px;
  background:
      /* Left */ repeating-linear-gradient(
        to bottom,
        #09604d 0,
        #09604d 16px,
        transparent 16px,
        transparent 32px
      )
      left/2px 100% no-repeat,
    /* Right */
      repeating-linear-gradient(
        to bottom,
        #09604d 0,
        #09604d 16px,
        transparent 16px,
        transparent 32px
      )
      right/2px 100% no-repeat;
  pointer-events: none;
  z-index: 1;
}
.overlay-cookies {
  position: absolute;
  top: -70px;
  right: 47px;
  width: 105px;
  height: 105px;
  z-index: 10;
  pointer-events: none;
  user-select: none;
}

.update-date {
  display: block;
}

.title-subtitle {
  font-family: var(--font-family);
  /* не змінюється шрифт без цього */
  color: #094b3c;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 25px;
}

.title-subtitle-sub {
  font-weight: 500;
  line-height: 1;
}

.text-cookies {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  margin-bottom: 25px;
}

.list-cookies {
  font-size: 16px;
  line-height: 1.87;
  margin-bottom: 25px;
  list-style-type: disc;
  padding-left: 20px;
}

.item-cookies {
  font-weight: 500;
  line-height: 1;
}

.text-cookies li {
  display: list-item;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

.link-cookies {
  color: #094b3c;
  text-decoration: underline;
}

.link-cookies:hover {
  color: #067b3a;
}

.cookies-circle-after{
  position: absolute;
  width: 75px;
  height: 75px;
  top:  -90px;
  right: 20px;
}

.cookies-circle-before{
position: absolute;
  width: 75px;
  height: 75px;
  left: 0;
  bottom: -50px;
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1200px) {
  .container-cookies {
    padding: 40px 58px;
  }

  .update-date {
    display: inline;
  }

  .overlay-cookies {
    left: 182px;
    width: 154px;
    height: 154px;
    top: -99px;
  }

  .list-cookies {
    padding-left: 30px;
  }

  .cookies-circle-after{
  position: absolute;
  width: 230px;
  height: 230px;
  top:  -130px;
  right: 80px;
}

.cookies-circle-before{
position: absolute;
  width: 230px;
  height: 230px;
  left: -22px;
  bottom: -200px;
}
}
